# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html#_mapping_authors
Dagfinn Ilmari Mannsåker <ilmari@ilmari.org> <ilmari@photobox.com>
Matt S Trout <mst@shadowcat.co.uk> <matthewt@hercule.scsys.co.uk>
Matt S Trout <mst@shadowcat.co.uk> <matthewt@89-16-177-128.no-reverse-dns-set.bytemark.co.uk>
Toby Inkster <mail@tobyinkster.co.uk> <tobyink@cpan.org>
